---
title: Deciding Color Combos
date: 2014-10-26 03:00:47 UTC
tags: design, opinions 
---

%p
    Until now I wasn't really that interested or attentive in finding
    reliable ways
    of choosing good combos for a site design. When I thought about 
    it recently, I found out few ways of choosing color combinations
    that can likely lead to a good combo. I also got a line of color
    combos that aren't really good together (imho).
%p
    <strong>I'm saying it on the front !</strong> These are things that works for me, these are my opinions,
    if there are flaws in whatever I say or if you got anything better in your pocket please let me know
    through the comments.
%p
    Few things first. Choosing colors randomly with  trial and error 
    isn't a good idea but guided trial and error is good.
    Using too much colors isn't good, it will add unnecessary complexities
    to the design and it ain't easy to align them all together so that they
    fit to the design. Don't use high contrast colors on things that aren't important.
%p
    Now, we are taking the case of a very simple content layout. The first part of a layout that need a color is it's background. Colors of other parts of
    the layout really depends on the background color. If it's has too much constrast, for example like
    white, light green, light blue etc, then using dark color on other parts will be really bad.
    If it's too dark then using high constrast colors on other parts of the layout can be bad.
    Let's build a simple design, for the background I'm picking a bright color green (#00FF19), and for the content background
    I'm gonna pick a dark color dark blue (#001229).
.post-image
    %img{src: "/images/1.png"}
%p
    See when you look at the image first, the background contrast is picking attention, while it shouldn't. 
    Lets try reducing the contrast a bit, i.e pick a dark version of the background.
.post-image
    %img{src: "/images/2.png"}
%p
    Now it doesn't pull up the attention, instead we are more focused on the text or the main content. But now,
    the color combo became really bad. One main reason why this resulted in a bad combo is that I picked the colors
    randomly. So lets see if I follow a particular method of in picking colors, I can get good color combo or not. The 
    method in which I'm gonna pick colors involves picking the colors that are variations of a single color. And if 
    I'm gonna choose two completely different colors, I would make sure that either both colors are dark or both are 
    light.
%p
    So in our case, lets change the green (#00FF19) to a variation of the color dark blue (#001229), take '002355'.
.post-image
    %img{src: "/images/3.png"}
%p
    Looks better right ? Now the background colors can also be interchanged. Lets try two bright colors with the
    same method.
.post-image
    %img{src: "/images/4.png"}
%p 
    Works. But when it comes to picking completely different colors like one of green category and one of red category,
    this method wont be sufficient to make a good combo. That really depends on smart color usage or maybe there is a
    way I don't know. But surely most colors go well with varitions of white and black.
%p
    Hope this was helpful to you in some way.


    



    



    
