---
title: Profile
pagename: profile
---

.post 
    .post-title
        %h2 Hello there !!
    .post-body
        %h3 About me
        %p
            I'm Kevin (limekin as alias), a self-taught Ruby main programmer. I write, read and code things. I also play multiplayer online
            games. I do a little bit of designs.



        %h3 About blog
        %p
            This blog is mainly composed of the things like my personal utilities, way of doing things, shares about the
            things I learn or discover. These will be focused mostly around web development. And if you ask me whether
            the content in here matter to you or not, I can say maybe. Maybe the utilities I use can help you, maybe my
            way of doing things can help you. More precisely, I should really say instead, it's upto you to decide.
            <img src="http://www.pic4ever.com/images/4fvfcja.gif" border="0" >

        %p
            As a side note, this blog doesn't represent me professionally or formally as a programmer. Instead this is
            completely an informal blog I would like to maintain for fun (and as a hobby ?).



        %h3 Blog decomplied
        %p   
            Now, all the technical and design elements I have used in this site are free to use. But really they are 
            a set of quality elements which made bringin up this blog easy. And not to mention, it really takes a 
            good deal of work to create these stuffs even though its free. So I'm decompiling and crediting 
            eveything I have used in this site.

        %h4 Fonts
        %p
            The blog uses 'Roboto Condensed' and 'Open Sans' from 
            %a{href: "https://www.google.com/fonts", target: "_blank"} Google Fonts. 
            You can search the font names in there, the authors are also specified.
        %h4 Comments
        %p
            I'm using 
            %a{href: "https://disqus.com/", target: "_blank"} Disqus 
            to host and manage comments (quite obvious isn't it ? ).
        %h4 Smileys you see here and there
        %p 
            The smileys in the blog are from 
            %a{href: "http://www.pic4ever.com/", target: "_blank"} pic4ever
            = '.'
        %h4 Share plugin
        %p 
            The share plugins under each blog posts (or anywhere) are from 
            %a{href: "http://www.sharethis.com/", target: "_blank"} ShareThis
            = '.'
        %h4 Behind the stage stuffs
        %p 
            I'm using
            %a{href: "http://www.google.co.in/analytics/", target: "_blank"} Google Analytics
            to monitor blog statistics.
        %h4 Middleman
        %p
            Locally I'm using 
            %a{href: "http://middlemanapp.com/", target: "_blank"} Middleman
            , a ruby gem for static site generation, to generate and maintain the blog. It's damn cool !
        %h4 Github Pages
        %p 
            The site is hosted on 
            %a{href: "https://github.com/", target: "_blank"} Github
            Pages.

            

            
